
<div class="queryBox mt10">
    <label class="labelText pull-left">地区选择：</label>
    <div id="address" class="pull-left"></div>

    <label class="labelText pull-left ml-40">门店名称：</label>
    <select class="input-text pull-left w180" id="storeNameSelect"></select>
    <div class="searchGroup pull-right ml10">
        <input type="text" class="input-text pull-right w200" maxlength="13" id="mobile" placeholder="请输入手机号码">
        <i class="Hui-iconfont searchIcon" data-searchtype="mobile">&#xe665;</i>
    </div>
    <div class="searchGroup">
        <input type="text" class="input-text pull-right w200" id="realName" placeholder="请输入员工姓名">
        <i class="Hui-iconfont searchIcon" id="searchIcon" data-searchtype="realName">&#xe665;</i>
    </div>
</div>
<div class="hr"></div>