{{!--
<div class="queryBox">
    <label class="labelText pull-left">地区选择：</label>
    <div class="pull-left" id="address"></div>

    <label class="labelText pull-left ml-40">门店名称：</label>
    <select class="input-text pull-left w140" id="storeNameSelect">
        <option value="">全部</option>
    </select>
    <!--<div class="searchGroup">
        <input type="text" class="input-text pull-right w200" id="searchText" placeholder="请输入门店名称">
        <i class="Hui-iconfont searchIcon" id="searchIcon">&#xe665;</i>
    </div>-->
    <label class="labelText pull-left ml-40">年份：</label>
    <select class="input-text pull-left w120" id="yearSelect"></select>
    <input size="16" id="startTime" class="startTime input-text pull-left w120" type="text" placeholder="开始时间" readonly>
    <div class="pull-left" style="height: 32px;line-height: 32px;padding: 0px 10px;">至</div>
    <input size="16" id="endTime" class="endTime input-text pull-left w120" type="text" placeholder="结束时间" readonly>
</div>
<div class="hr"></div>--}}
<div class="queryBox text" id="statusSelect"style="margin-left:15px;" >
    已累计查询{{identityTime}}次身份核验，总计{{identityAmount}}元，{{reportTime}}次EID报告，总计{{reportAmount}}元。
</div>
{{!--<div class="queryBox mt-10 text" id="queryTime">
    <div style="float:left">
        <label class="labelText w70 pull-left text-r">查询时间：</label>
    <select id='dayOrMonth' class="input-text pull-left w120" style="height: 30px;display: inline-block;width:120px;line-height: 30px;margin-right: 10px; margin-top:15px;">
        <option value ="0">按日</option>
        <option value ="1">按月</option>
    </select>
    </div>
    
    <div style="float:left;margin-top:13px;margin-bottom:50px;">
        <input size="16" style="width:120px;" id="startTime" class="startTime input-text pull-left w120" type="text" placeholder="开始时间"
            readonly>
        <div class="pull-left" style="height: 32px;line-height: 32px;padding: 0px 10px;display: inline-block;">至</div>
        <input size="16" style="width:120px;" id="endTime" class="endTime input-text pull-left w120" type="text" placeholder="结束时间"
            readonly>
    </div>

</div>--}}