<div class="col-xs-12 data_search">
    <div class="queryBox mt-10 text" id="queryTime">
        <label class="labelText w70 pull-left text-r">查询时间：</label>
        <input size="16" class="customStartTime form-control" placeholder="开始时间" type="text" value="" readonly>        
        <label class="to_text">至</label>
        <input size="16" class="customEndTime form-control" placeholder="结束时间" type="text" value="" readonly>
    </div>
</div>
<div class="col-xs-12">
	<form id="detailData_searchForm" class="col-xs-4">  
		<label class="form-label col-xs-4 col-sm-3">门店名称：</label>
		<div class="formControls col-xs-8 col-sm-7">
		  <input type="text" class="input-text" placeholder="门店名称" name="companyName">
		</div>
		<input class="btn btn-default col-sm-2" type="submit" id="search_button" value="搜索">
	</form>
</div>