<label class="form-label col-xs-4 col-sm-3">MAC：</label>
<div class="formControls col-xs-8 col-sm-7">
  <input type="text" class="input-text" placeholder="MAC查询" name="macId" id="macId">
</div>
<input class="btn btn-default col-sm-2" type="submit" id="search_button" value="搜索">