.content{
    background-color: #efeff4;
}
.content-block{
    background-color: #efeff4;
}
.item{
    background-color: white;
    margin-top: 0.8rem;
    padding:0.2rem 0.6rem;
    font-size: 0.76rem;
}
.mylabel{
    color: #54b7f0;
}
.text{
    margin-left: 0.5rem;
}