<div class="queryBox">
    <div class="searchGroup">
        <input type="text" class="input-text pull-right w200" id="searchText" placeholder="请输入客户姓名">
        <i class="Hui-iconfont searchIcon" id="searchIcon">&#xe665;</i>
    </div>
</div>
<div class="hr"></div>