<div class="myModalConfirm" id="myModalConfirm">
    <div class="myModaldialog">
        <div class="myModalContent radius">
            <div class="myModalHeader">
                <span class="myModalTitle">温馨提示</span>
            </div>
            <div class="myModalBody">
                {{msg}}
            </div>
            <div class="myModalFooter">
                <div class="myModalFooterBtnGroup">
                    <a class="displayInline" id="close">取消</a>
                    <a class="button-md displayInline">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop"></div>