<li #if($!{page}=="businessHandle") class="current" #end><a href="/subShop/business/view.htm">业务处理</a></li>
<li #if($!{page}=="infoSearch") class="current" #end><a href="/subShop/infoSearch/view.htm">信息查询</a></li>
<li #if($!{page}=="equipmentManage") class="current" #end><a href="/subShop/device/view.htm">设备管理</a></li>
<li #if($!{page}=="accountManage") class="current" #end id="accountManage4Sub"><a href="/subShop/user/view.htm">账号管理</a></li>