<div class="queryBox">
    <label class="labelText pull-left">地区选择：</label>
    <div class="pull-left" id="provinceCity"></div>
</div>
<div class="queryBox mt10">
    <button class="btn radius btn-primary pull-left w100" id="addStore">新增</button>
    <div class="searchGroup pull-right ml10">
        <input type="text" class="input-text pull-right w200" id="linkname" placeholder="请输入负责人">
        <i class="Hui-iconfont searchIcon" data-searchtype="linkname">&#xe665;</i>
    </div>
    <div class="searchGroup pull-right">
        <input type="text" class="input-text pull-right w200" id="companyname" placeholder="请输入门店名称">
        <i class="Hui-iconfont searchIcon" data-searchtype="companyname">&#xe665;</i>
    </div>
</div>
<div class="hr"></div>