<a class="btn btn-primary h42 pull-left" id="back">返回首页</a>
<!--<button class="btn btn-primary h42 radius blacklist pull-right ml40 {{#ifCond status "!=" 0}}disabled{{/ifCond}}" style="display: inline-block;" {{#ifCond status "!=" 0}}disabled{{/ifCond}}>加入黑名单</button>-->
<button class="btn btn-primary h42 radius noThrougth pull-right ml40 {{#ifCond status "!=" 0}}disabled{{/ifCond}}" style="display: inline-block;" {{#ifCond status "!=" 0}}disabled{{/ifCond}}>审核不通过</button>
<button class="btn btn-primary h42 radius pass pull-right ml40 {{#ifCond status "!=" 0}}disabled{{/ifCond}}" style="display: inline-block;" {{#ifCond status "!=" 0}}disabled{{/ifCond}}>审核通过</button>
<a class="btn btn-primary h42 radius download pull-right ml40 {{#ifCond status "!=" 0}}disabled{{/ifCond}}" href="javascript:void(0)" {{#ifCond status "!=" 0}}disabled{{/ifCond}}>下载报告</a>