<div class="col-xs-12" style="margin-bottom:20px;">
    <div style="height:50px">
        <div id="daypicker" class="queryBox mt-10" style="float:left;margin-left:15px;width:375px;">
            <label class="form-label " style="display:inline-block;margin-left:10px;">查询时间：</label>
            <input size="16" id="startTime" class="startTime input-text pull-left w120" style="width:120px;" type="text" placeholder="开始时间"
                readonly>
            <div class="pull-left" style="height: 32px;line-height: 32px;padding: 0px 10px;display:inline-block">--</div>
            <input size="16" id="endTime" style="width:120px;" class="endTime input-text pull-left w120" type="text" placeholder="结束时间"
                readonly>
        </div>
    </div>
    <form id="infor_searchForm" class="col-xs-8" style="float:left;margin-top:10px;">
        <div class="col-xs-3">
            <label class="form-label col-xs-4 col-sm-5">客户名称：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" placeholder="客户名称" name="companyName" id="companyName">
            </div>
        </div>
        <div class="col-xs-3">
            <label class="form-label col-xs-4 col-sm-5">门店名称：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" placeholder="门店名称" name="childName" id="childName">
            </div>
        </div>
        <div class="col-xs-2">
            <label class="form-label col-xs-4 col-sm-4">姓名：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" autocomplete="off" placeholder="姓名" name="borrowerName" id="borrowerName">
            </div>
        </div>
        <div class="col-xs-3">
            <label class="form-label col-xs-4 col-sm-4">手机号：</label>
            <div class="formControls col-xs-8 col-sm-8">
                <input type="text" class="input-text" autocomplete="off" placeholder="手机号" name="borrowerName1" id="borrowerName1">
            </div>
        </div>
        <input class="btn btn-default col-xs-1" type="submit" id="search_button" value="搜索">
    </form>
</div>
<hr>