<div class="queryBox">
    <label class="labelText pull-left">地区选择：</label>
    <div class="pull-left" id="address"></div>

    <label class="labelText pull-left ml-40">门店名称：</label>
<select class="input-text pull-left w140" id="storeNameSelect">
    <option value="">全部</option>
</select>
<div class="searchGroup">
    <input type="text" class="input-text pull-right w200" id="searchText" placeholder="请输入客户姓名">
    <i class="Hui-iconfont searchIcon" id="searchIcon">&#xe665;</i>
</div>
</div>
<div class="hrBox">
    <div class="hr"></div>
</div>