<div class="title title2 overflowHidden mt50" id="badBehavior">
    <div class="title2Text" id="reportTitle">公安负面信息</div>
</div>
<table class="badBehavior">
    <thead class="text-c">
    <tr>
        <td>序号</td>
        <td>案件来源</td>
        <td>案件类别</td>
        <td>案发日期</td>
    </tr>
    <tr>
        <td>序号</td>
        <td>案件来源</td>
        <td>案件类别</td>
        <td>案发日期</td>
    </tr>
    </thead>
    <tbody id="policeRecordList">

    </tbody>
</table>