<h2 class="text-c">芝麻信息</h2>
<table class="record mt40">
    <tbody>
        <tr>
            <td>申请欺诈评分</td>
        </tr>
        {{#if this}} 
        <tr class="text-c">
            <td>{{score}}</td>
        </tr>
        {{else}}
        <tr>
            <td class="text-c" colspan="8">查无数据</td>
        </tr>
        {{/if}}
    </tbody>
</table>
<br>
<p style='line-height:30px;'>说明：申请欺诈评分，评分范围为0-100分，其中0分表示无法识别申请信息风险；1-100
分为有效识别，分数越高，风险越小。建议方案的评分阀值40-80分，≦40分直接拒绝，≧80分通过，40-80分的客户建议结合其他信息，进行重点核查。       
阅读须知：<br>
1.本报告的著作权属于杭州信鸽金融信息股份有限公司（简称“信鸽金服”），未经书面许可，不得擅自复制、摘录、编辑、转载、披露和发表。<br>
2.使用本报告，需经过被查询人授权，信鸽金服不承担因授权不充分引起的任何法律责任。<br>
3.本报告中，除信鸽金服的特殊标注外，报告中的信息均由相关数据来源机构和信息主体提供，信鸽金服不保证其真实性和准确性，但承诺在信息整合、汇总、展示的过程中保持客观、中立的地位。<br>
4.本报告反馈的结果仅供参考，对于使用该结果做出的决策导致的后果，信鸽金服不承担任何责任。<br>
5.仅限内部使用，请妥善保管本报告，并注意保密。</p>
