<div id="modal-add" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h2 class="modal-title">新增</h2>
                <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>
            <form class="form form-horizontal" id="addForm">
                <div class="modal-body" style="overflow: hidden">
                    <div class="row cl">
                        <label class="labelText col-xs-4 col-sm-3 text-c">手机号码：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="hidden" class="input-text pull-left" id="customerId" name="customerId">
                            <input type="text" class="input-text pull-left" id="addMobile" name="mobile" maxlength="11" placeholder="请输入手机号码做为用户名与初始密码">
                        </div>
                    </div>
                    <div class="row cl mt10">
                        <label class="labelText col-xs-4 col-sm-3 text-c">姓名：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text pull-left" id="realName" name="realName" placeholder="请输入姓名">
                        </div>
                    </div>
                    <div class="row cl mt10">
                        <label class="labelText col-xs-4 col-sm-3 text-c">类型：</label>
                        <div class="formControls col-xs-8 col-sm-9 text-l">
                            <select class="input-text pull-left w100" id="roleId" name="roleId">
                                <!--<option value="1">管理员</option>
                                <option value="2">操作员</option>
                                <option value="3">财务</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="labelText col-xs-4 col-sm-3 text-c">状态：</label>
                        <div class="formControls col-xs-8 col-sm-9" id="statusSelectBox">
                            <input type="hidden" class="input-text pull-left" id="status" name="status" value="0">
                            <div class="radio-box">
                                <input type="radio" id="open" name="radio2" checked>
                                <label for="open">启用</label>
                            </div>
                            <div class="radio-box">
                                <input type="radio" id="forbidden" name="radio2">
                                <label for="forbidden">禁用</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="确定">
                    <a class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
                </div>
            </form>
        </div>
    </div>
</div>