#homePage {
    padding: 20px 32px;
    background-color: #f1f1f1;
}
.home-wrapper {
    background-color: #ffffff;
}
.columnar-wrapper {
    width: 1260px;
    height: 580px;
}
.query-times {
    padding: 20px 0 58px 40px;
    font-size: 20px;
    color: #353535;
    display: inline-block;
}
.hover-help {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: -4px 10px;
    background: url('http://static.hpbanking.com/xg/uploads/files/4c050db00b7e545782a4a86ccddc80f3-21-21.png') no-repeat center center;
}
.help-content h5 {
    padding-left: 14px;
    color: #353535;
    font-size: 18px;
}
.help-content {
    position: absolute;
    left: 240px;
    top: 60px;
    display: block;
    visibility: hidden;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    height: 106px;
}
.choose-date .total {
    display: inline-block;
}
.choose-date .yesterday{
    position: absolute;
    font-size: 18px;
    width: 120px;
    height: 120px;
    top: 65px;
    right: -46px;
    /* background: url('http://static.hpbanking.com/xg/uploads/files/74bc1d9a0b507021fbca31e5ab7b4343-14-12.png') no-repeat center center; */
    cursor: pointer;
}
#columnar {
    width: 1060px;
    height: 480px;
    padding-bottom: 20px;
}
.border {
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
}
#pie {
    width: 100%;
    height: 580px;
    margin-top: 20px;
}
#todayRank {
    width: 610px;
    display: inline-block;
    margin-left: 40px;
}
.rank-title {
    margin: 20px 0;
    font-size: 20px;
    color: #353535;
}
#monthRank {
    margin-left: 40px;
    margin-bottom: 40px;
    width: 610px;
    display: inline-block;
}
.pie-wrapper {
    height: 554px;
    position: relative;
}
.pie-first {
    width: 630px;
    height: 554px;
}
.pie-second {
    width: 630px;
    height: 554px;
    position: absolute;
    top: -20px;
    left: 540px;
}
#homePage .pie-second h1{
    font-size: 20px;
    color: #353535;
    margin: 20px 0 60px 23%;
}
#verify {
    width: 400px;
    height: 360px;
    margin-left: 2%;;
}
#pie {
    width: 360px;
    height: 360px;
    margin-left: 12%;
}
.check-times {
    font-size: 20px;
    color: #353535;
    margin: 40px 0 60px 33%;
}
    
.choose-dm {
    width: 180px;
    height: 46px;
    border-radius: 45px;
    position: absolute;
    top: 5px;
    border: 1px solid rgb(90,168,240);
    right: 3%;
}
.choose-date {
    width: 180px;
    height: 46px;
    border-radius: 45px;
    position: absolute;
    top: 90px;
    border: 1px solid rgb(90,168,240);
    right: 6%;
}
.choose-date span{
    display: inline-block;
    width: 46%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #353535;
    font-family: MicrosoftYaHei;
    cursor: pointer;
}
.choose-date .choosed{
    color: white;
    border-radius: 45px;
    height: 40px;
    /* width: 48%; */
    margin: 2px;
    background-color: rgb(90,168,240);
}
.choose-date .total {
    font-size: 18px;
    color: #353535;
    margin-top: 20px;
    padding-left: 15px;
}
.choose-dm span{
    display: inline-block;
    width: 46%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #353535;
    font-family: MicrosoftYaHei;
    cursor: pointer;
}
.choose-dm .choosed{
    color: white;
    border-radius: 45px;
    height: 40px;
    width: 48%;
    margin: 2px;
    background-color: rgb(90,168,240);
}
.choose-dm .total {
    font-size: 18px;
    color: #353535;
    margin-top: 12px;
    margin-left: 15px;
    padding: 8px;
    width: 220px;
}