<form class="form form-horizontal" id="loginForm">
  <input type="hidden" id="loginType" name="loginType" value="customer">
  <div class="row cl">
    <div class="formControls col-sm-12">
      <img class="logoIcon" src="http://static.hpbanking.com/xg/uploads/files/040c322110142f68750ea2c701dd588f-123-39.png">
      <span class="logoTitle">卓壹身份标识系统</span>
    </div>
  </div>
  <!--<div class="row cl">
        <div class="formControls col-sm-12 text-c">
            <span class="titleName">用户登录</span>
        </div>
    </div>-->
  <div class="row cl">
    <div class="formControls col-sm-12">
      <input type="text" class="input-text radius size-XL" autocomplete="off" placeholder="请输入用户名" maxlength="11" name="username"
        id="username" tabindex="1">
    </div>
  </div>
  <div class="row cl">
    <div class="formControls col-sm-12">
      <input type="password" class="input-text radius size-XL" autocomplete="off" placeholder="请输入密码" name="password" id="password"
        tabindex="2">
    </div>
  </div>
  <div class="row cl">
    <div class="formControls col-sm-12">
      <input type="text" class="input-text radius size-XL" autocomplete="off" placeholder="请输入验证码" name="checkCode" id="checkCode"
        tabindex="3">
      <img class="checkCode" src="/checkCode.jpg">
    </div>
  </div>
  <div class="row cl">
    <div class="formControls col-sm-12">
      <!--<a href="javascript:void(0)" class="forgetPsd pull-right">忘记密码请联系客服！</a>-->
      <!--<div class="text-c shallowGray" style="font-size: 12px;">注:为了获得更好的体验，建议把浏览器升级到最新版本</div>-->
      <input class="btn btn-secondary radius size-L" id="loginBtn" type="submit" value="登&nbsp;&nbsp;录">
    </div>
  </div>
  <!--<div class="mt-20 cl">
        <div class="text-c shallowGray">© 杭州卓壹金融信息服务股份有限公司</div>
    </div>-->
</form>