.navbar{
    background: url(http://static.hpbanking.com/xg/uploads/files/4533844fd679bfc1d1c3123b613a7e6c-1920-100.png) no-repeat;
}
/*身份标识报告*/
.page{
    background: url("http://static.hpbanking.com/xg/uploads/files/22975ef1804c735958729369ed06d524-454-340.png") repeat;
}
.td_bg, .table-hover tbody tr:hover td.td_bg{
	background-color: #b4b3b1;
	font-weight: bold;
}
.td_nbg{
	background-color: #ffffff !important;
}
.table-hover thead tr:hover th.td_nbg{
	background-color: #f5f5f5 !important;
}
.report_content{
	width: 75%;
	margin: 0 auto;
}
.number_time{
    padding-bottom: 10px;
    border-bottom: 1px solid #eae6e6;
}
.report_content .table{
	width: 100%;
}
.bottom_btn{
	margin: 30px 0px 50px 0px; 
	float: right;
}
.report_content h4{
	font-weight: 500;
}
.report_content .table{
	background-color: #ffffff;
}
.report_content .table-bg thead th{
	background-color: #b4b3b1;
}
.card_img{
	width: 100%;
}
.top_border{
    border-top: 1px solid #eae6e6; 
}

/*身份证*/
.report_content .identity{
    width: 280px;
    height: 187px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin-left: auto;
    margin-right: auto;
}
.report_content .identityFront{
    padding:20px;
    background:url("http://static.hpbanking.com/xg/uploads/files/88d136903411b52790f3216f5714f88c-306-187.png") no-repeat center;
}
.report_content .identityBack{
    padding: 20px;
    background:url("http://static.hpbanking.com/xg/uploads/files/794ab46d58cb8bba02bce34ee70ea017-306-187.png") no-repeat center;
}

.report_content .checkBox{
    width: 310px;
}
.report_content .addText{
    margin-left: 7px;
    margin-right:3px;
}
.report_content .frontPic{
    width: 100%;
    float: left;
}
.report_content .lineBox{
    margin-top: 1px;
    text-align: left;
}
.report_content .checkPic{
    width: 280px;
}
.report_content .passCheckBtn{
    width: 280px;
    height: 60px !important;
    line-height: 52px !important;
    font-size: 18px;
}
.report_content .btn.pass, .report_content .btn.noThrougth, .report_content .btn.blacklist, .report_content .btn.download{
    display: none;
}
.lightblue{
    color: #408ab9;
    font-weight: 500;
}
.fw_bold{
    font-weight: bold;
}

.pull-right{
    float: right !important;
}
.pull-left{
    float: left !important;
}
.overflowHidden{
    overflow: hidden;
}
/*边距字体*/
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt28{margin-top:28px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px !important;}
.mt80{margin-top:80px !important;}
.mt100{margin-top:100px !important;}
.mt125{margin-top:125px !important;}

.ml3{margin-left: 3px;}
.ml5{margin-left:5px;}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.ml40{margin-left:38px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}

.mr20 {margin-right: 20px;}
.mr22 {margin-right: 22px;}
.mr23 {margin-right: 23px;}
.mr30 {margin-right: 30px;}

.mb20{margin-bottom:20px;}

.pdt12{padding-top: 12px;}
.pdt15{padding-top: 15px;}
.pdt18{padding-top: 18px;}

.pdl20{padding-left: 20px}

/*字体大小*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f30{font-size:30px !important;}
/*宽度*/
.w60 {width: 60px;}
.w70 {width: 70px;}
.w80 {width: 80px;}
.w100{width: 100px}
.w110{width: 110px}
.w116{width: 116px}
.w120{width: 120px}
.w140{width: 140px}
.w150 {width: 150px;}
.w170 {width: 170px;}
.w180 {width: 180px;}
.w200 {width: 200px;}
.w300{width:300px;}
.w320{width:320px;}
.wp50{width: 50%}
.wp80{width: 80%}
.wp100{width: 100%}