
*{box-sizing: border-box;}
.clearfix{clear: both;}
.overflow{
    overflow: hidden;
}
.pull-right{
    float: right !important;
}
.pull-left{
    float: left !important;
}
a.underLine{
    text-decoration: underline !important;
}
.marginCenter{
    margin:0 auto;
}
.overflowHidden{
    overflow: hidden;
}
.displayNone{
    display: none;
}
.orangeTip{
    line-height: 24px;
    color: #f37b1d;
    position: absolute;
    left:48px;
    top:18px;
}
/*边距字体*/
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt28{margin-top:28px;!important;}
.mt30{margin-top:30px;!important;}
.mt40{margin-top:40px;!important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt80{margin-top:80px !important;}
.mt100{margin-top:100px !important;}

.ml3{margin-left: 3px;}
.ml5{margin-left:5px;}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.ml24{margin-left: 24px}
.ml29{margin-left: 29px}
.ml40{margin-left:38px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr20 {margin-right: 20px;}
.mr22 {margin-right: 22px;}
.mr23 {margin-right: 23px;}
.mr30 {margin-right: 30px;}

.mb20{margin-bottom:20px;}

.pdt12{padding-top: 12px;}
.pdt15{padding-top: 15px;}

.pdl20{padding-left: 20px}

/*字体大小*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f30{font-size:30px !important;}
/*宽度*/
.w60 {width: 60px;}
.w70 {width: 70px;}
.w80 {width: 80px;}
.w100{width: 100px}
.w110{width: 110px}
.w116{width: 116px}
.w120{width: 120px}
.w140{width: 140px}
.w150 {width: 150px;}
.w170 {width: 170px;}
.w180 {width: 180px;}
.w200 {width: 200px;}
.w222 {width: 222px;}
.w260 {width: 260px;}
.w300{width:300px;}
.w320{width:320px;}
.w450{width:450px;}
.w500{width:500px;}
.w960{width:960px;}
.wp50{width: 50%}
.wp80{width: 80%}
.wp90{width: 90%}
.wp100{width: 100%}
.h36{
    height: 36px;
    line-height: 28px !important;
    padding:4px 30px !important;
    font-size: 16px !important;
}
.h42{
    height: 42px;
    line-height: 33px !important;
    padding:4px 32px !important;
    font-size: 17px !important;
}
/*颜色*/
.lightblue{color:#0f9ae0;}
.none{display:none;}
.blue{color:blue;}
.primary{
    background-color: #0f9ae0;
    color: #ffffff;
}
.lightgray{color:#8f9193}
.gray{color:#c7c7c7}
.shallowGray{color:#c7c7c7}
.black{color:#ffffff}

/*标准色—红色*/
.bc-red{background-color:red}
.bc-green{background-color:green}

.fontCRed{
    color: #d13738;
}
.fontCGreen{
    color: #2c9e2d;
}
.fontCYellow{
    color: #e69d15;
}

.page{
    padding:12px 24px;
}

.bold{
    font-weight: 500;
}

/*吐丝*/
.tusi{
    background-color: #333333;
    color: white;
    position: absolute;
    border-radius: 2px;
    padding: 5px 8px;
    font-size: 15px;
    z-index: 1100;
}
.emptyDate,.loading{
    text-align: center;
    width: 100%;
    height: 160px;
    line-height: 160px;
    font-size: 16px;
    color: #c7c7c7;
    border:none;
    background-color: white;
    overflow: hidden;
}
/*=========================== jquery.page css start =============================*/
#pager{
    text-align: center;
}
ul.pages {display:inline-block;border:none;text-transform:uppercase;font-size:12px;margin:10px 0 10px;padding:0; overflow: hidden;}
ul.pages li {list-style:none; float:left; text-align: center; border:1px solid #dedede; text-decoration:none; margin:0 5px 0 0; padding:8px 10px; background: #fff;}
ul.pages li:hover{
    background-color: #4e4218;
    color: white;
}
ul.pages li.pgEmpty, ul.pages li.pgEmpty:hover{
    color: #dddddd;
    background-color: #ffffff;
    border: 1px double #dddddd;
}
ul.pages li.thpoint,ul.pages li.thpointa{border:none;cursor:auto; color:#000;}
ul.pages li:hover{
    border: 1px double #5a98de;
    border-color: #5a98de;
    background-color: #5a98de;
}
ul.pages li.thpointa:hover, ul.pages li.thpoint:hover{
    border: none;
}
ul.pages li.pgCurrent {
    padding: 8px 10px;
    text-align: center;
    border: 1px double #5a98de;
    border-color: #5a98de;
    font-weight:700;
    background: #fff;
    background-color: #5a98de;
    color: #fff;
}
.thpoint span{
    padding: 8px 0px;
}
.thpoint input,.thpointa input{
    min-width: 44px !important;
    height: 29px !important;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #dedede;
}
.thpoint,.thpointa{
    background: none !important;
}
.pgNext,.pgNextgo{
    color: #4e4218;
    font-weight: bold;
}
/*=========================== jquery.page css end =============================*/

.labelText{
    height: 30px;
    line-height: 30px;
}
.form-control{
    height: 30px;
    line-height: 30px;
    padding:4px 10px;
}

.queryBox{
    overflow: hidden;
}
.searchGroup{
    position: relative;
    overflow: hidden;
    float: right;
}
.searchIcon{
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
    background-color: white;
    z-index: 10;
}
.table{
    margin-top: 12px;
}
/*地区下拉样式*/
#address select:first-child,#province_city select:first-child,#provinceCity select:first-child{
    margin-right: 15px;
}
#address select,#province_city select,#provinceCity select{
    height: 30px;
    width: 120px;
    border: 1px solid #dddddd;
    font-size: 14px;
}
div.hrBox{
    overflow: hidden;
    clear: both;
}
div.hr{
    margin-top: 10px;
    background-color: #c7c7c7;
    height:2px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #dedede;
}
.topFunction{
    color: #ffffff;
    height: 44px;
    line-height: 44px;
    margin-right: 22px;
}
.modifyPassword{
    color: #ffffff;
    height: 44px;
    line-height: 44px;
    margin-right: 22px;
}
.modifyPassword:hover{
    color: #ffffff;
    text-decoration: underline;
}
/*aside*/
.Hui-aside{
    background-color: #47a5da;
    border-top: 1px solid #4bb7f3;
}
.Hui-aside .menu_dropdown li a{
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #1e9cdc;
}
.Hui-aside .menu_dropdown li a:hover{
    /*color: #148cf1;
    background-color: #fafafa;*/
    color: #ffffff;
    background-color: #4eb3ed;
}
.Hui-aside .menu_dropdown li.current a, .menu_dropdown li.current a:hover{
    color: #ffffff;
    background: #4eb3ed;
}

.myModal{
    width:950px;
    overflow: hidden;
}

.modalHeader{
    height: 70px;
    line-height: 70px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    background-color: #54b7f0;
}

.myModal .modal-title{
    text-align: center;
}
#modal-checkInfo .modalHeader{
    font-size: 16px;
    color: #353535;
    background-color: #ffffff;
    line-height: 36px;
}
#modal-checkInfo .header {
    width: 518px;
    height: 36px;
    border-radius: 8px;
    /*border: 1px solid #54b7f0;*/
    box-shadow: 0 0 0 1px #54b7f0;
    position: absolute;
    left: 50%;
    margin-left: -259px;
    top: 40px;
    overflow: hidden;
    display: flex;
}
#modal-checkInfo .header span {
    flex: 1;
    cursor: pointer;
}
#modal-checkInfo .header .current {
    background-color: #54b7f0;
    color: #ffffff;
}
.myModal .modalBody{
    padding: 0 50px;
    word-break: break-all;
    overflow: hidden;
    position: relative;
}
.modalBody.modal2{
    text-align: center;
}
.modalBody.modal3{
    margin-left: 352px;
    font-size: 14px;
    color: #353535;
}
.accreditNum .accredit {
    margin-left: 13px;
}
.setMsg {
    border: none;
    background-color: #fff;
}
#infoSureToModalBtn {
    color: #54b7f0;
    text-decoration: underline;
    position: absolute;
    right: 486px;
    top: 108px;
    border: none;
    background-color: #fff;
}
.modalBody.modal3 .phoneNum {
    margin:50px 0 20px 0;
}
.modalBody.modal3 .accreditNum {
    
}
.modalBody.modal2 .title {
    font-size: 14px;
    color: #353535;
    margin-top: 40px;
    margin-bottom: 20px;
}
.modalBody.modal2 .addFile {
    width: 280px;
    height: 208px;
    background-color: #dbdbdb;
    margin: 0 auto;
    cursor: pointer;
}
#preview {
    width: 280px;
    height: 208px;
    margin: 0 auto;
    display: none;
}
.modalBody.modal2 .addFile #file0 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 80px 0 0 114px;
    opacity: 0;
}
#img0 {
    width: 280px;
    height: 208px;
    margin: 0 auto;
}
.myModal .lineBox{
    width: 100%;
    margin-top: 86px;
}
.myModal .idtySuccess{
    position: absolute;
    right:20%;
    top:1%;
    z-index: 1;
    display: none;
}
.myModal .identity{
    width: 302px;
    height: 182px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
.myModal .currentPic{
    width: 186px;
    height: 182px;
    background-color: #000000;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.myModal .identityFront{
    padding:20px;
    background:url("http://static.hpbanking.com/xg/uploads/files/88d136903411b52790f3216f5714f88c-306-187.png") no-repeat;
}
.myModal .identityBack{
    padding: 20px;
    background:url("http://static.hpbanking.com/xg/uploads/files/794ab46d58cb8bba02bce34ee70ea017-306-187.png") no-repeat;
}

.myModal .checkBox{
    width: 310px;
}
.myModal .addText{
    margin-left: 7px;
    margin-right:3px;
    line-height: 16px;
}
.myModal .frontPic{
    width: 100%;
    float: left;
}
.myModal .lineBox{
    margin-top: 1px;
}
.myModal .checkPic{
    width: 280px;
    max-height: 280px;
}
.myModal .passCheckBtn{
    width: 280px;
    height: 60px !important;
    line-height: 60px !important;
    font-size: 24px;
    text-align: center;
    margin-top: 42px;
    font-weight: bold;
}
.myModal .modalFooter,.myModal .modalFooter2,.myModal .modalFooter3{
    height: 100px;
    line-height: 100px;
    border-top: 1px dotted #c7c7c7;
    margin-top: 30px;
    padding: 0 50px;
}
.myModal .modalFooter .phone{
    height: 40px;
    line-height: 40px;
}
.modalFooter .nextBtn {
    text-align: center;
    width: 96px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    font-size: 14px;
    background-color: #54b7f0;
    margin: 0 auto;
    margin-top: 26px;
    border-radius: 6px;
    cursor: pointer;
}
.modalFooter .end-bar {
    position: absolute;
    left: 30%;
}
.modalFooter .confirm-me {
    position: absolute;
    right: 30%;
    width: 120px;
}
.myModal .modalFooter .btnGroup,.myModal .modalFooter2 .btnGroup,.myModal .modalFooter3 .btnGroup{
    height: 100px;
    line-height: 100px;
}
.myModal .modalFooter3 .btnGroup #validateAgian{
    position: relative;
}
.myModal .modalFooter3 .btnGroup #validateAgian:after{
    color: #ff4c4c;
    font-size: 12px;
    position: absolute;
    bottom: -28px;
    left: 24%;
}
.myModal .modalFooter .tip{
    font-size: 16px;
    color: #dd2428;
}
.myModal .modalFooter2 .tip{
    margin-left: 32px;
    font-size: 16px;
    color: #242424;
    background: url("http://static.hpbanking.com/xg/uploads/files/41e27d59c9b4d21a54ffed992fb704ae-23-24.png") no-repeat left;
    padding-left: 30px;
    -webkit-background-size:contain;
    background-size:contain;
}
.myModal .modalFooter3 .tip{
    margin-left: 32px;
    font-size: 16px;
    color: #242424;
    background: url("http://static.hpbanking.com/xg/uploads/files/0209e017d5d110d2a824db594ce1a805-23-23.png") no-repeat left;
    padding-left: 30px;
    -webkit-background-size:contain;
    background-size:contain;
}
.navbar{ background:url(http://static.hpbanking.com/xg/uploads/files/4533844fd679bfc1d1c3123b613a7e6c-1920-100.png) no-repeat}/*顶部导航*/
.Hui-aside{border-right:1px solid transparent;}
.disabled{
    background-color: #c7c7c7 !important;
}
.input-append{
    background-color: #ebebe4 !important;
    padding-right: 5px !important;
    border: 1px solid #dddddd !important;
}
.input-append input{
    border:none !important;
}
.shadowBtn{
    /*box-shadow:1px 3px 1px 0px #6fbaf4;*/
}
#modal-checkInfo .identitiesBox{
    margin-top: 88px;
    margin-left: 108px;
}
#validateMobileModal{
    color: #242424;
    overflow: hidden;
}
#validateMobileModal .modalHeader{
    font-size: 20px;
    height: 50px;
    line-height:50px;
    background-color: #e2e2e2;
    position: relative;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 0 #fff;
}
#validateMobileModal .modalHeader .modalTitle{
    color: #323232;
}
#validateMobileModal .modalHeader .close{
    position: absolute;
    right: 10px;
    top: 7px;
}
#validateMobileModal .modalBody,#validateMobileModal .modalBody2,#validateMobileModal .modalBody3{
    padding:50px 30px;
}

#validateMobileModal .modalBody .tip{
    color: #ff4c4c;
    margin-left: 96px;
    font-size: 16px;
}
#validateMobileModal .modalBody2 .tip{
    font-size: 16px;
    background: url("http://static.hpbanking.com/xg/uploads/files/41e27d59c9b4d21a54ffed992fb704ae-23-24.png") no-repeat left;
    padding-left: 30px;
}
#validateMobileModal .modalBody3 .tip{
    font-size: 16px;
    background: url("http://static.hpbanking.com/xg/uploads/files/03e1bea5d3d74607bcb5f3f4ef3b7f94-23-23.png") no-repeat left;
    padding-left: 30px;
}

#validateMobileModal .modalBody .phone{
    height: 31px;
    line-height: 31px;
}
#validateMobileModal .modalFooter{
    padding:10px 55px 40px;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#validateMobileModal #validateAgian2:after{
    content: '(需重新收费)';
    color: #ff4c4c;
    font-size: 12px;
    position: absolute;
    bottom: 14px;
    left: 50%;
    margin-left: -32%;
}
#modalConfirm4mobile .modalHeader{
    height: 50px;
    background-color: #e2e2e2;
}
#modalConfirm4mobile .modalBody{
    padding:26px 24px;
}
#modalConfirm4mobile .modalFooter{
    padding:14px 34px;
}
#modal-creditOption{
    top:100px;
    width: 340px;
    margin-left: -170px;
}
#modal-creditOption .modal-title{
    display: block;
    text-align: center;
}

#frame{
    position: absolute;
    left: 23px;
    top:23px;
}
#scanline{
    position: absolute;
    height: 2px;
    width: 140px;
    left: 23px;
    top: 23px;
    background: #54B7F0;
}