/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border-color: transparent;
    border-width: 0px;
    border: none;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    width: 180px;
    border-radius: 0px;
    border: none;
    background-color: #293038;
}

.module-picker > .dropdown-menu {
    min-height: 300px;
    min-width: 212px;
    font-size: 12px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);;
}

.module-picker > .dropdown-menu > .dropdown-group {
    float: left;
    padding: 0px 12px;
    min-width: 212px;
}

.module-picker > .dropdown-menu > .dropdown-group a {
    line-height: 28px;
}

.module-picker .dropdown-group > .dropdown-header {
    padding-left: 5px;
    padding-bottom: 8px;
}

.nav-header a {
    height: 40px;
    background: #37424f !important;
    border-bottom: 1px solid #414d5c;
    color: #fff !important;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
}

.nav-header.open a {
    background: #22282e !important;
    border-bottom: none;
}

.nav-header a:hover {
    background: #414d5c !important;
}

.dropdown.module-picker.open .caret {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.nav-header.open a > .caret {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
}

.nav-header a > .caret {
    margin-top: -2px;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* Sidebar navigation */
.nav-sidebar, .module-sidebar {
    margin-bottom: 20px;
}

.nav-sidebar .navbar-nav, .module-sidebar .navbar-nav {
    float: none;
    padding: 0px;
}

.nav-sidebar > .navbar-nav > li, .module-sidebar > .navbar-nav > li {
    float: none;
}

.nav-sidebar li a, .module-sidebar li a {
    padding: 10px 18px
}

.nav-sidebar > .navbar-nav > li > .active a, .nav-sidebar > .navbar-nav > li > .active a:hover,
.nav-sidebar > .navbar-nav > li > .active a:focus {
    color: #fff;
    background-color: #0099cc;
}

.nav-sidebar > .navbar-nav > li > a:hover,
.nav-sidebar > .navbar-nav > li > a:focus {
    background-color: #37424f;
}

.module-sidebar {
    left: 180px;
    background: #EAEDF1 !important;
}

.module-sidebar a {
    color: #333 !important;
}

.module-sidebar .nav-header a:hover {
    background-color: #F4F6F8 !important;
}

.module-sidebar .nav-header a {
    background-color: #EAEDF1 !important;
    border: none;
}

.module-sidebar > .navbar-nav > li > .active a, .nav-sidebar > .navbar-nav > li > .active a:hover,
.module-sidebar > .navbar-nav > li > .active a:focus {
    color: #333;
    background-color: #FFF;
}

.module-sidebar > .navbar-nav > li > a:hover,
.module-sidebar > .navbar-nav > li > a:focus {
    background-color: #F4F6F8;
}

.nav-sidebar.fold {
    width: 50px;
    overflow-x: hidden;
}

.nav-sidebar .nav-title, .module-sidebar .nav-title {
    margin-left: 8px;
}

.nav-sidebar.fold .nav-title, .module-sidebar.fold .nav-title {
    display: none;
}

.nav-sidebar .sidebar-fold {
    height: 30px;
    width: 100%;
    background: #394555;
    color: #aeb9c2;
    text-align: center;
    line-height: 30px !important;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.nav-sidebar .sidebar-fold:hover {
    background: #37424f;
}

.nav-sidebar.fold .sidebar-fold i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-nav > li {
    float: left;
}

.navbar-left {
    float: left !important;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-header {
    float: left;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}

.navbar-fixed-top .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

.sidebar-tooltip .tooltip-inner {
    max-width: 200px;
    padding: 12px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0;
    background-color: #425160;
}

.sidebar-tooltip.tooltip.right .tooltip-arrow {
    border-right-color: #425160;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

td a {
    padding-right: 8px;
}

a[disabled] {
    color: #CCCCCC;
    cursor: not-allowed;
}

a[disabled]:hover {
    color: #CCCCCC;
    text-decoration: none;
}

em {
    font-style: normal;
    margin: 0px 5px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: none;
}

/*é¡µé¢åˆå§‹åŒ–æ—¶éšè—æ‰€æœ‰å®‰å…¨æŽ§åˆ¶å…ƒç´ */
*[data-authority] {
    display: none;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

input[type=submit], input[type=button], button {
    font: inherit;
    /* padding: 0px; */
    cursor: pointer;
}

input[type=text], input[type=password], input[type=search], textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #d2d2d2;
    font: inherit;
}

input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #66afe9;
    outline: none;
}

.clear-fix {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.centterw .pagination {
    float: right;
    margin: 8px 0;
    text-align: right;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none; /* you could also put this in a class */
    -webkit-user-select: none; /* and add the CSS class here instead */
    -ms-user-select: none;
    user-select: none; /**ç¦æ­¢é€‰ä¸­æ–‡å­—*/
}

.centterw .pagination li {
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    color: #666;
    height: 26px;
    text-decoration: none;
    margin: 0 0 6px 6px;
    padding: 0 10px;
    font-size: 14px
}

.centterw .pagination li.active, .centterw .pagination li:hover {
    background: #5a98de;
    color: #fff !important;
}

.centterw .pagination p {
    float: right;
    margin: 2px 4px;
}

.msgholder {
    display: block;
    height: 22px;
    line-height: 20px;
    padding: 0px 0px 0px 20px;
}

.msgholder.error {
    background: url('/resources/img/iconpic-error.png') no-repeat left center;
    color: #ef392b;
}

.msgholder.info {
    background: url('/resources/img/iconpic-info.png') no-repeat left center;
    color: #5a98de;
}

.form-control.formaterr:focus {
    border-color: rgb(255, 110, 0);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 110, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 110, 0, .6);
}

.form-box {
    width: 440px;
    margin: 40px auto;
}

.form-box .form-title {
    font-size: 16px;
}

.form-box .form-title span {
    font-size: 14px;
}

.form-box .control-group {
    margin-top: 20px;
    font-size: 12px !important;
}

.form-box .control-group label {
    color: #1a1a1a;
    padding: 0px 6px;
    position: relative;
}

.form-box .control-group .controls {
    margin-top: 8px;
    position: relative;
}

.form-box .control-group input[type=text], .form-box .control-group input[type=password] {
    line-height: 42px;
    height: 42px;
    width: 100%;
    padding: 0px 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.form-box .control-group input[name=checkCode] {
    line-height: 44px;
    height: 44px;
    width: 184px;
    vertical-align: middle;
}

.form-box .control-group .checkCode {
    width: 164px;
    height: 42px;
    border: 1px solid #d2d2d2;
    vertical-align: middle;
}

.form-box .control-group .codeTip {
    display: block;
    float: right;
    width: 38px;
    color: #666;
    font-size: 10px;
    line-height: 22px;
    cursor: pointer;
}

.form-box .form-action {
    margin-top: 40px;
}

.form-box .form-action input[type=submit] {
    font-size: 16px;
    width: 440px;
    height: 56px;
}

.form-box .bottom-bar {
    font-size: 12px !important;
    color: #666;
    margin-top: 5px;
    line-height: 18px;
}

.form-box .bottom-bar a {
    color: #ff6e00;
}

/*å¯†ç å¼ºåº¦æç¤º*/
.strength-bar {
    float: right;
}

.strength-bar span {
    line-height: 10px;
    width: 34px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

.file-selector .file-selector-choice, .task-choices .selector-choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    display: inline-block;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0 5px;
}

.task-choices .selector-choice {
    cursor: pointer;
}

.file-selector .file-selector-choice.add-btn, .task-choices .selector-choice.add-btn {
    cursor: pointer;
}

.selector-choice.add-btn.single {
    display: none;
}

.selector-choice.add-btn.single:first-child {
    display: inline-block;
}

.file-selector .file-selector-choice .file-choice-remove, .task-choices .selector-choice .choice-remove {
    border-left: 1px #999 solid;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    padding-left: 4px;
    margin-left: 4px;
}

.file-selector.form-control, .task-choices.form-control {
    height: auto;
}

.task-choices {
    padding: 0px;
}

.task-choices .table {
    margin: 0px;
    border: none;
}

a.product-detail {
    position: absolute;
    top: 6px;
    left: 410px;
    display: inline-block;
    width: 60px;
}

.table-modal {
    padding: 8px;
}

.search-well {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 4px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    line-height: 1;
}

.search-well .form-group {
    margin: 0px;
    padding: 0 0 4px 0;
}

.search-well .control-label {
    padding-left: 0px;
    line-height: 1.6;
}

.search-well #btn_search {
    margin-top: 5px;
}

@media (min-width: 768px) {
    .search-well #btn_search {
        margin-top: 0;
    }

    .search-well {
        padding: 4px 4px 0 0;
    }
}

@media (max-width: 768px) {
    .layui-layer[type=iframe] {
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        padding: 42px 0 50px 0;
    }

    .layui-layer[type=iframe] .layui-layer-content {
        width: 100% !important;
        height: 100% !important;
    }

    .layui-layer[type=iframe] .layui-layer-content iframe {
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }

    .layui-layer[type=iframe] .layui-layer-title {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .layui-layer[type=iframe] .layui-layer-min, .layui-layer[type=iframe] .layui-layer-max {
        display: none !important;
    }
}

.breadcrumb {
    margin-bottom: 0px;
}

.subject-file:first-child {
    margin-top: 0px;
}

.subject-file {
    margin-top: 5px;
}

.subject-file input[type=text] {
    width: 180px;
    margin: 0px 2px;
}

.subject-file input[type=file] {
    display: inline;
    margin: 0px 2px;
    width: 180px;
}

.subject-file input[type=text][data-file-id] {
    width: 180px;
    margin-bottom: 5px;
    border: none;
}

.subject-file label:first-child {
    margin-left: 0px;
}

.subject-file label {
    margin-left: 8px;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none; /* you could also put this in a class */
    -webkit-user-select: none; /* and add the CSS class here instead */
    -ms-user-select: none;
    user-select: none;
}

.file-add:first-child {
    margin-top: 0px;
}

.file-add {
    margin-top: 5px;
}

span.subject {
    display: inline-block;
    margin-left: 5px;
}

span.time {
    display: inline-block;
    width: 100px;
    margin: 0 2px;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-folder-open:before {
    content: "\f07c";
}

.layer-in {
    padding: 20px 0;
}

.layer-in .form-group {
    margin: 0 0 15px 0;
}

.select2-dropdown {
    z-index: 999999999999;
}

.form-horizontal.horizontal .control-label {
    padding-top: 4px;
    margin-bottom: 0;
    text-align: right;
}

.timesHolder input[type=text] {
    text-align: center;
    width: 30px;
}
