{{#each this}}
    <div class="item">
        <div><span class="mylabel">信用/消费贷黑名单</span><span class="text pull-right name">无记录</span></div>
        <div><span class="mylabel">信贷逾期</span><span class="text pull-right idCard">无记录</span></div>
        <div><span class="mylabel">信用卡逾期</span><span class="text pull-right cardNumber">无记录</span></div>
        <div><span class="mylabel">P2P黑名单</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">助学贷款逾期</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">套现交易</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">信贷失联</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">信贷欺诈</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">风控规则</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">黑中介</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">骗取补贴</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">冒用风险</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">信贷分值低</span><span class="text pull-right time">无记录}</span></div>
        <div><span class="mylabel">曾经逾期（0-30天）</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">信贷黑名单</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">商户欺诈名单</span><span class="text pull-right time">无记录</span></div>
        <div><span class="mylabel">曾经逾期（未知期限）</span><span class="text pull-right time">无记录</span></div>
    </div>
{{/each}}
