{{#each this}}
    <div class="item">
        <div><span class="mylabel">盗卡</span><span class="text pull-right name">XXXXXX</span></div>
        <div><span class="mylabel">其他欺诈</span><span class="text pull-right idCard">XXXXXX</span></div>
        <div><span class="mylabel">盗用操作</span><span class="text pull-right cardNumber">{{cardNumber}}</span></div>
        <div><span class="mylabel">盗用支出</span><span class="text pull-right time">{{time}}</span></div>
    </div>
{{/each}}
