{{#each this}}
    <div class="item">
        <div><span class="mylabel">典当物品</span><span class="text pull-right name">XXXXXX</span></div>
        <div><span class="mylabel">典当金额</span><span class="text pull-right idCard">XXXXXX</span></div>
        <div><span class="mylabel">典当地点</span><span class="text pull-right cardNumber">{{cardNumber}}</span></div>
        <div><span class="mylabel">典当时间</span><span class="text pull-right time">{{time}}</span></div>
        <div><span class="mylabel">违约行为</span><span class="text pull-right time">{{time}}</span></div>
        <div><span class="mylabel">描述</span><span class="text pull-right time">{{time}}</span></div>
    </div>
{{/each}}
