 <i class="Hui-iconfont"></i>
 <a class="c-666" href="javascript:void(0)">当前位置</a>
    <span class="c-999 en">&gt;</span><a href="/company/count/shopDetail.htm?companyId={{companyId}}" class="c-666">门店统计</a>
    <span class="c-999 en">&gt;</span><span class="c-666">门店详情</span>