<div class="myModalConfirm" id="myModalConfirm">
    <div class="myModaldialog">
        <div class="myModalContent radius">
            <div class="myModalHeader">
                <span class="myModalTitle">温馨提示</span>
            </div>
            <div class="myModalBody">
                <span class="tip">为了避免查询错误,请认真核对姓名及身份证！</span>
                <div class="mt5">
                    <div class="lineGroup">
                        <span>姓名：</span><span>{{name}}</span>
                    </div>
                    <div class="lineGroup">
                        <span>身份证：</span><span>{{identityNumber}}</span>
                    </div>
                </div>
                <div class="mt10">
                    <div class="lineGroup">支付方式选择：</div>
                    <div class="lineGroup">
                        <span>微信支付</span><span class="myRadio16 pull-right"></span>
                    </div>
                </div>
            </div>
            <div class="myModalFooter">
                <div class="myModalFooterBtnGroup">
                    <a class="displayInline" id="close">取消</a>
                    <a class="button-md displayInline">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop"></div>