<form class="form form-horizontal" id="loginForm" >
    <input type="hidden" id="loginType" name="loginType" value="ims">
    <div class="row cl">
      <label class="form-label col-sm-4">用户名：</label>
      <div class="formControls col-sm-5">
        <input type="text" class="input-text radius" autocomplete="off" placeholder="请输入手机号" name="username" id="username" tabindex="1">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-sm-4">密码：</label>
      <div class="formControls col-sm-5">
        <input type="password" class="input-text radius" autocomplete="off" placeholder="密码" name="password" id="password" tabindex="2">
      </div>
      <div class="col-xs-5"> </div>
    </div>
    <div class="row cl">
      <label class="form-label col-sm-4">验证码：</label>
      <div class="formControls col-sm-5">
        <input type="text" class="input-text radius" autocomplete="off" placeholder="请输入验证码" name="checkCode" id="checkCode" tabindex="3">
        <img class="checkCode" src="/checkCode.jpg">
      </div>
    </div>
    <div class="row cl">
      <div class="col-sm-6 col-sm-offset-4">
        <!-- <a href="javascript:void(0)" class="forgetPsd">忘记密码请联系客服！</a> -->
        <input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
      </div>
    </div>
  </form>