<div class="queryBox">
    <label class="labelText pull-left">地区选择：</label>
    <div class="pull-left" id="provinceCity"></div>
</div>
<div class="queryBox mt10">
    <button class="btn radius btn-primary pull-left w100" id="add">新增</button>
</div>
<div class="hr"></div>